@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    letter-spacing: 2px; /* Ajusta el valor según el espacio que desees */
}

.product-title{
    font-family: "Montserrat", sans-serif;
    font-style:normal;
    font-weight: 500;

    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 20px;
}

.product-price{
    font-family: "Montserrat", sans-serif;
    font-style:normal;
    font-weight: 500;

    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: grey;
}

.carousel-indicators img{
    display: block;
    font-size: 1rem;
    width: 20px;
    height: 20px;
}

.card-img-top{
    object-fit: cover;
    height: 600px;
}

.carousel-indicators{
    position: unset;
}

.carousel-indicators button{
    width: max-content!important;
}

.score i{
    padding: 2px;
}

.reviews{
    font-family: "Montserrat", sans-serif;
    font-style: normal;

    font-size: small;
    font-weight: 400;
}


.tab-menu {
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s, text-decoration 0.3s;
}
.tab-menu.active {
    font-family: "Montserrat", sans-serif;
    font-style:normal;
    font-weight: 500;

    text-decoration: underline;
    text-decoration-thickness: 0.5px; /* Ajusta el valor según el grosor que desees */
    color: #000;
}

.carousel-inner img {
    max-width: 95%; /* Ajusta el valor de 80% al tamaño que desees */
    height: auto;
    margin: 0 auto; /* Para centrar la imagen */
}

.all-for-him-button{
    font-family: "Montserrat", sans-serif;
    font-style:normal;
    font-weight: 500;

    background-color: black;
    color: white;
    border: 0;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 11px;
    margin-bottom: 50px;
}

.score > i{
    font-size: 0.7rem;
    color: black;
    padding: 0;
}

.card {
    border-radius: 0;
}

.card img{
    border-radius: 0;
}

.card-img-container {
    position: relative;
}

.card-title {
    position: absolute;
    top: 80%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 150px;
    text-align: left;
}

.card-btn {
    position: absolute;
    bottom: 40px; /* Distancia desde el borde inferior de la imagen */
    left: 30%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 1); /* Fondo oscuro con algo de transparencia */
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.follow-text{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0px;
}

.card-gallery-item {
    position: relative;
    overflow: hidden; /* Evita que el overlay sobresalga */
}

.card-gallery-item img {
    display: block;
    transition: 0.3s ease-in-out;
    object-fit: cover;

    position: relative;
    width: 100%;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Inicialmente transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Oculto por defecto */
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.item-text {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transform: translateY(20px); /* Baja ligeramente el texto */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: relative;
    font-weight: 500;
}

.item-text::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

/* Efecto al pasar el mouse */
.card-gallery-item:hover .overlay {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.card-gallery-item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.card-gallery-item:hover .item-text::after {
    width: 80%;
}