.product-title{
    text-align: center;
    font-size: medium;
    padding-top: 20px;
}

.product-price{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.carousel-indicators img{
    display: block;
    font-size: 1rem;
    width: 20px;
    height: 20px;
}

.carousel-indicators{
    position: unset;
}

.carousel-indicators button{
    width: max-content!important;
}

.score i{
    padding: 2px;
}

.reviews{
    font-size: large;
    font-weight: 400;
}

.tab-menu {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s, text-decoration 0.3s;
}
.tab-menu.active {
    text-decoration: underline;
    color: #000;
}

.carousel-inner img {
    max-width: 95%; /* Ajusta el valor de 80% al tamaño que desees */
    height: auto;
    margin: 0 auto; /* Para centrar la imagen */
}